@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_mixins.scss";

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px 0;
  flex-wrap: wrap;

  @include breakpoint(min-width, desktop) {
    flex-wrap: nowrap;
  }

  & .widget {
    padding: 0 20px;
    flex-basis: 100%;

    &:nth-child(1) {
      @include breakpoint(min-width, desktop) {
        flex-basis: 30%;
      }
    }

    &:nth-child(2) {
      @include breakpoint(min-width, desktop) {
        flex-basis: 30%;
      }
    }

    &:nth-child(3) {
      @include breakpoint(min-width, desktop) {
        flex-basis: 15%;
      }
    }

    &:nth-child(4) {
      @include breakpoint(min-width, desktop) {
        flex-basis: 25%;
      }
    }

    & .widget-title {
      font-size: to-rem(20);
    }

    ul,
    ol {
      margin-left: 15px;

      & li {
        margin-bottom: 10px;
      }
    }
  }
}
