@import "../../styles/helpers/_variables.scss";
@import "../../styles/helpers/_mixins.scss";

.darkmode {
  &__btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    background-size: 40px;
    background-position: center center;

    @include breakpoint(min-width, tablet) {
      width: 40px;
      height: 40px;
      background-size: 20px;
    }

    &--sun {
      background-image: url(../../images/sun.png);
      background-repeat: no-repeat;
      background-color: $white-color;
      font-size: 0;
    }

    &--moon {
      background-image: url(../../images/moon.png);
      background-repeat: no-repeat;
      background-color: $black-color;
      font-size: 0;
    }
  }
}
